<page-layout [ready]="data$ | async" [ngSwitch]="step$ | async">
  <page-content *ngSwitchCase="'form'" [heading]="i18n.voucher.title.redeem"
    [mobileHeading]="i18n.voucher.mobileTitle.redeem"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'">
    <div *ngIf="(data$ | async); else loading">
      <ng-container [ngTemplateOutlet]="active_user"></ng-container>
      <div class="d-flex flex-grow-1">
        <div class="flex-grow-1">
          <label-value kind="field" [label]="i18n.voucher.token">
            <input-field #inputField type="text" focused [mask]="mask"
              [formControl]="token" [placeholder]="mask" required>
            </input-field>
            <button *extraCell class="btn btn-icon" #scanQrCodeButton
              [tooltip]="i18n.field.user.scanQrCodeTooltip"
              (click)="showScanQrCode()">
              <icon icon="scan_qr_code"></icon>
            </button>
          </label-value>
        </div>
      </div>
      <actions>
        <action-button [disabled]="requesting$ | async" (action)="submit()"
          [label]="i18n.general.submit">
        </action-button>
      </actions>
    </div>
  </page-content>
  <page-content *ngSwitchCase="'confirm'"
    [heading]="i18n.voucher.title.redeem"
    [mobileHeading]="i18n.voucher.mobileTitle.redeem"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'">
    <ng-container *ngIf="(dataForRedeem$ | async); else loading">

      <ng-container [ngTemplateOutlet]="active_user"></ng-container>

      <notification ngClass="mb-3" type="warning">
        {{ i18n.voucher.redeem.confirm }}
      </notification>

      <div class="d-flex flex-grow-1 flex-column">

        <div
          [ngClass]="{'d-flex flex-row-reverse justify-content-between': (layout.gtsm$ | async) && dataForRedeem.type.image}">
          <div *ngIf="dataForRedeem.type.image"
            class="image d-flex justify-content-center mt-2 mb-4"
            [ngClass]="{'flex-grow-1':  !dataForRedeem.type.voucherDescription}">
            <avatar size="160" imageSize="200" useLightbox
              [image]="dataForRedeem.type.image">
            </avatar>
          </div>

          <ng-container *ngIf="dataForRedeem.type.voucherDescription">
            <div class="break-nl">{{ dataForRedeem.type.voucherDescription }}
            </div>
          </ng-container>
        </div>
        <hr class="mt-3" />
        <label-value [label]="i18n.general.type">
          {{ dataForRedeem.type.name }}
        </label-value>
        <label-value [label]="i18n.voucher.token"> {{ dataForRedeem.token }}
        </label-value>
        <label-value *ngIf="dataForRedeem.buyer"
          [label]="i18n.voucher.buy.buyer">
          <user-link [user]="dataForRedeem.buyer"></user-link>
        </label-value>
        <label-value [label]="i18n.transaction.amount">
          {{ dataForRedeem.amount | currency:dataForRedeem.type.configuration.currency }}
        </label-value>

        <custom-field-input *ngFor="let cf of dataForRedeem.customFields"
          [field]="cf" [formControl]="form.get(cf.internalName)">
        </custom-field-input>
      </div>

      <actions>
        <action-button [disabled]="requesting$ | async" (action)="submit()"
          [label]="i18n.general.submit">
        </action-button>

        <button class="btn btn-outline-primary" (click)="backToForm()">
          {{ i18n.general.previous }}
        </button>
      </actions>
    </ng-container>
  </page-content>
</page-layout>

<ng-template #active_user>
  <ng-container *ngIf="!self">
    <user-info [user]="data.user"></user-info>
    <hr>
  </ng-container>
</ng-template>

<ng-template #loading>
  <page-content>
    <spinner></spinner>
  </page-content>
</ng-template>
