<h1 *ngIf="title">{{ title }}</h1>
<form [formGroup]="form">
  <div *ngIf="message && canConfirm" class="mb-1"
    [ngClass]="{'mt-3': title != null}" [innerHTML]="message | trust"></div>

  <custom-field-input *ngFor="let cf of customFields; let first = first"
    [field]="cf" [focused]="first" [labelPosition]="labelPosition"
    [formControl]="form.get('customValues').get(cf.internalName)">
  </custom-field-input>

  <confirmation-password *ngIf="passwordInput"
    formControlName="confirmationPassword" [focused]="!hasFields"
    [createDeviceConfirmation]="createDeviceConfirmation"
    (confirmationModeChanged)="confirmationMode$.next($event)"
    (confirmed)="confirm($event)" [passwordInput]="passwordInput" [ngClass]="{
      'mt-3': hasFields || message == null,
      'mt-4': !hasFields && message != null
    }">
  </confirmation-password>

  <actions forceRow>
    <action-button
      *ngIf="(confirmationMode$ | async) !== ConfirmationMode.Device; else blank"
      [disabled]="!canConfirm || (requesting$ | async)" (action)="confirm()"
      [label]="confirmLabel">
    </action-button>
    <ng-template #blank>&nbsp;</ng-template>
    <button class="btn btn-outline-primary" (click)="modalRef.hide()">
      {{ cancelLabel }}
    </button>
  </actions>
</form>
