<button #button type="button" class="btn d-flex justify-content-center w-100"
  [ngClass]="{ 'link-with-icon': icon,
  'btn-primary': !outline,
  'btn-outline-primary': outline }"
  (click)="onClick($event); $event.stopPropagation()"
  [disabled]="disabled$ | async">
  <icon *ngIf="icon" [icon]="icon"></icon>
  <span *ngIf="text$">{{ text$ | async }}</span>
</button>
