<div *ngIf="otp"
  class="otp mb-3 d-flex flex-column flex-sm-row justify-content-center">
  <countdown-button *ngFor="let action of otpActions; let first = first"
    [ngClass]="{'mr-3': layout.gtxs$ | async, 'mt-2': !first, 'mt-sm-0': true}"
    (action)="action.onClick()" outline
    [disabledKey]="otpDisableMessageFunction(action.label)"
    [disabledSeconds]="30" [icon]="action.icon"
    [label]="i18n.password.otpReceiveBy(action.label)">
  </countdown-button>
</div>
<ng-container *ngIf="virtualKeyboard; else textField">
  <div class="d-flex flex-column align-items-center">
    <div class="d-flex w-75">
      <div
        class="d-flex flex-grow-1 align-items-center justify-content-center">
        <div *ngFor="let _ of enteredVKPassword; let first = first"
          [ngClass]="{'ml-2': !first}">&bull;</div>
      </div>
      <button class="btn btn-outline-primary"
        [disabled]="enteredVKPassword.length == 0" (click)="vkBack()">
        <icon size="18" icon="backspace"></icon>
      </button>
      <button class="btn btn-outline-primary ml-2"
        [disabled]="enteredVKPassword.length == 0" (click)="vkClear()">
        <icon size="18" icon="clear"></icon>
      </button>
    </div>
    <div class="d-flex my-3 flex-wrap w-75">
      <div class="d-flex w-100"
        *ngFor="let row of currentVKCombinations; let firstRow = first"
        [ngClass]="{'mt-2': !firstRow}">
        <div *ngFor="let combination of row; let firstCol = first"
          [ngClass]="{'ml-2': !firstCol}"
          [ngStyle]="{width: (100 / row.length) + '%'}">
          <button class="btn btn-outline-primary w-100"
            (click)=vkKey(combination)
            [disabled]="disabled || enteredVKPassword.length == passwordInput.buttons.length">
            {{ combination }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #textField>
  <div class="input-group">
    <div *ngIf="showIcon" class="input-group-prepend">
      <span class="input-group-text input-group-icon">
        <icon size="1.3rem" icon="lock"></icon>
      </span>
    </div>
    <input #passwordField type="password" [formControl]="formControl"
      class="form-control" [autocomplete]="autocomplete"
      (keyup.enter)="enter.emit(null)" [placeholder]="placeholder" [ngClass]="{
        'is-invalid': (formControl.statusChanges | async) === 'INVALID' && formControl.touched
      }">
  </div>
</ng-template>
<field-errors [control]="formControl"></field-errors>
