<h1>{{ i18n.field.user.contactTitle }}</h1>

<results-layout resultType="list" [results]="results$ | async"
  (update)="update($event)" [onClick]="onClick" [rendering$]="rendering$"
  [ngStyle]="{'min-height': '44vh'}">
  <mobile-result *mobileResult="let row">
    <div class="cell-text">
      {{ row.contact.display }}</div>
  </mobile-result>
  <table *resultTable class="table table-hover cursor-pointer">
    <thead>
    </thead>
    <tbody>
      <ng-container *ngFor="let row of (results$ | async)?.results">
        <tr (click)="emit(row)">
          <td [ngClass]="{'text-muted': isExcluded(row)}"
            [ngStyle]="{'text-decoration': isExcluded(row) ? 'line-through' : ''}">
            {{ row.contact.display }}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</results-layout>
<actions>
  <button class="btn btn-primary d-block w-100" (click)="modalRef.hide()">
    {{ i18n.general.cancel }}
  </button>
</actions>
