@import 'src/definitions';

button[disabled], button[disabled]:hover {
  cursor: default !important;
}

.btn {
  min-height: $input-height;
  width: 100%;
}
@include media-breakpoint-up(xs) {
  .btn {
    width: auto;
  }
}
button.btn-transparent {
  background: transparent;
  border: none;
  box-shadow: none;
}
.lt-sm {
  button.btn-main {
    height: 3rem;
  }
}

.btn-primary {
  @include button-variant($button-color, $button-border-color);
}
.btn-outline-primary {
  @include button-outline-variant($button-color);
}
.btn-outline-primary {
  border-color: rgba($button-color, 0.8);
}

.btn-icon {
  display: inline-flex;
  padding: 0.4rem 0.4rem 0.4rem 0.6rem;
  width: 2.6rem;
  @include button-variant($button-icon-bg, $button-icon-border-color);
  color: $button-icon-color;
}

table.table {
  .btn-icon {
    display: flex;
    justify-content: center;
    padding: 0.3rem;
    height: auto;
    min-height: unset;
    width: auto;
  }
}

.actions-multiple .btn-icon {
  display: inline-block !important;
}

.identity-provider {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  position: relative;
  height: auto;
  padding: 0.5rem 0;

  img {
    max-width: 1.6rem;
    position: absolute;
    left: 0.5rem;
  }

  span {
    position: relative;
    top: 1px;
  }
}

actions.minimal button {
  min-width: 0 !important;
}

body.dark {
  .btn-primary {
    @include button-variant($button-color-dark, $button-border-color-dark);
  }
  .btn-outline-primary {
    @include button-outline-variant($button-color-dark);
  }
  .btn-icon {
    @include button-variant($button-icon-bg-dark, $button-icon-border-color-dark);
    color: $button-icon-color-dark;
  }
}
