<page-layout [ready]="data$ | async" [ngSwitch]="step$ | async">
  <page-content *ngSwitchCase="'form'" [heading]="title"
    [mobileHeading]="mobileTitle"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'" last>
    <payment-step-form class="flex-grow-1 d-flex flex-column" [data]="data"
      [pos]="pos" [form]="form" [currency]="currency$ | async"
      [paymentTypeData$]="paymentTypeData$"
      (availablePaymentTypes)="availablePaymentTypes = $event"
      [customValuesControlGetter]="customValuesControlGetter">
    </payment-step-form>
    <actions forceRow>
      <action-button [disabled]="requesting$ | async" (action)="toConfirm()"
        [label]="i18n.general.next"></action-button>
    </actions>
  </page-content>

  <page-content *ngSwitchCase="'confirm'" hideBack
    [heading]="i18n.transaction.title.paymentConfirmation"
    [mobileHeading]="i18n.transaction.mobileTitle.paymentConfirmation"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'" last>
    <payment-step-confirm class="flex-grow-1 d-flex flex-column" [pos]="pos"
      [preview]="preview" [confirmationPassword]="confirmationPassword"
      (confirmationModeChanged)="confirmationMode$.next($event)"
      (confirmed)="perform($event)"
      [showPaymentType]="(availablePaymentTypes || []).length > 1">
    </payment-step-confirm>
    <actions forceRow>
      <action-button
        *ngIf="(confirmationMode$ | async) != ConfirmationMode.Device; else spacer"
        [disabled]="!canConfirm || (requesting$ | async)" (action)="perform()"
        [label]="i18n.general.confirm"></action-button>
      <ng-template #spacer>&nbsp;</ng-template>
      <button class="btn btn-outline-primary" (click)="backToForm()">
        {{ i18n.general.previous }}
      </button>
    </actions>
  </page-content>

  <page-content *ngSwitchCase="'done'" hideBack [heading]="doneTitle"
    [mobileHeading]="doneMobileTitle"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'" last>
    <payment-step-done class="flex-grow-1 d-flex flex-column"
      [performed]="performed"></payment-step-done>
    <actions forceRow>
      <button class="btn btn-primary" (click)="viewPerformed()">
        {{ i18n.transaction.doneView }}
      </button>
      <button class="btn btn-outline-primary" (click)="reload()">
        {{ i18n.transaction.doneNew }}
      </button>
    </actions>
  </page-content>

  <page-content *ngSwitchDefault>
    <spinner></spinner>
  </page-content>
</page-layout>
