<page-layout [ready]="data$ | async">
  <ng-container *ngIf="data then content"></ng-container>
</page-layout>

<ng-template #content>
  <page-content mode="filters" [heading]="i18n.ad.title.search"
    [mobileHeading]="i18n.ad.mobileTitle.search"
    [headingActions]="headingActions$ | async">
    <form [formGroup]="form" class="filters-form filters-form-separator">
      <div class="row no-gutters">
        <div class="col-12 col-md-6">
          <input-field labelPosition="side" formControlName="keywords"
            [label]="i18n.general.keywords"></input-field>
        </div>
        <div class="col-12 col-md-6" *ngIf="data.searchByDistanceData">
          <max-distance-field labelPosition="side"
            [data]="data.searchByDistanceData"
            formControlName="distanceFilter"
            [label]="i18n.general.distanceFilter">
          </max-distance-field>
        </div>
        <div class="col-12 col-md-6" *ngIf="manager">
          <multi-selection-field labelPosition="side"
            formControlName="statuses" [label]="i18n.general.status">
            <field-option value="active" [text]="i18n.ad.status.active">
            </field-option>
            <field-option value="disabled" [text]="i18n.ad.status.disabled">
            </field-option>
            <field-option *ngIf="canViewPending" value="pending"
              [text]="i18n.ad.status.pending">
            </field-option>
            <field-option value="expired" [text]="i18n.ad.status.expired">
            </field-option>
            <field-option value="hidden" [text]="i18n.ad.status.hidden">
            </field-option>
            <field-option value="scheduled" [text]="i18n.ad.status.scheduled">
            </field-option>
          </multi-selection-field>
        </div>
        <ng-container *ngIf="layout.gtxxs$ | async">
          <div class="col-12 col-md-6" *ngFor="let cf of basicFields">
            <custom-field-filter labelPosition="side" [field]="cf"
              [formControl]="form.get('customValues').get(cf.internalName)">
            </custom-field-filter>
          </div>
        </ng-container>
        <ng-container *ngIf="moreFilters$ | async">
          <div class="col-12 col-md-6" *ngFor="let cf of advancedFields">
            <custom-field-filter labelPosition="side" [field]="cf"
              [formControl]="form.get('customValues').get(cf.internalName)">
            </custom-field-filter>
          </div>
          <div class="col-12 col-md-6"
            *ngFor="let bf of data.basicProfileFields">
            <basic-profile-field-filter labelPosition="side" [field]="bf"
              [formControl]="form.get('profileFields').get(bf.field)">
            </basic-profile-field-filter>
          </div>
          <div class="col-12 col-md-6"
            *ngFor="let cf of data.customProfileFields">
            <custom-field-filter labelPosition="side" [field]="cf"
              [formControl]="form.get('profileFields').get(cf.internalName)">
            </custom-field-filter>
          </div>
          <div
            *ngIf="marketplacePermissions.userSimple.view || marketplacePermissions.userWebshop.view"
            class="col-12 col-md-6">
            <single-selection-field labelPosition="side"
              formControlName="kind" [label]="i18n.general.type"
              [emptyOption]="i18n.general.notApplied">
              <field-option *ngIf="marketplacePermissions.userSimple.view"
                [text]="i18n.ad.type.simple" value="simple">
              </field-option>
              <field-option *ngIf="marketplacePermissions.userWebshop.view"
                [text]="i18n.ad.type.webshop" value="webshop">
              </field-option>
            </single-selection-field>
          </div>
          <div *ngIf="data.groups?.length > 1" class="col-12 col-md-6">
            <multi-selection-field labelPosition="side"
              hierarchyProperty="groupSet" formControlName="groups"
              [label]="i18n.user.groupFilter">
              <field-option *ngFor="let group of data.groups"
                [value]="ApiHelper.internalNameOrId(group)"
                [internalName]="group.internalName" [id]="group.id"
                [text]="group.name" [parent]="group.groupSet">
              </field-option>
            </multi-selection-field>
          </div>
          <div class="col-12 col-md-6">
            <boolean-field labelPosition="sideForced"
              formControlName="hasImages" [label]="i18n.ad.hasImages">
            </boolean-field>
          </div>
          <ng-container *ngIf="!hidePrice">
            <ng-container *ngIf="data.currencies.length > 1">
              <div class="col-12 col-md-6">
                <single-selection-field labelPosition="side"
                  formControlName="currency" [label]="i18n.general.currency"
                  [emptyOption]="i18n.general.notApplied">
                  <field-option *ngFor="let c of data.currencies"
                    [value]="ApiHelper.internalNameOrId(c)"
                    [internalName]="c.internalName" [id]="c.id"
                    [text]="c.name">
                  </field-option>
                </single-selection-field>
              </div>
            </ng-container>
            <ng-container *ngIf="currency$ | async">
              <!-- Force a new line to keep price range in same row -->
              <div class="w-100"></div>
              <div class="col-12 col-md-6">
                <decimal-field labelPosition="side"
                  formControlName="minAmount" [label]="i18n.ad.minPrice"
                  fieldSize="full" [scale]="currency.decimalDigits"
                  [prefix]="currency.prefix" [suffix]="currency.suffix">
                </decimal-field>
              </div>
              <div class="col-12 col-md-6">
                <decimal-field labelPosition="side"
                  formControlName="maxAmount" [label]="i18n.ad.maxPrice"
                  fieldSize="full" [scale]="currency.decimalDigits"
                  [prefix]="currency.prefix" [suffix]="currency.suffix">
                </decimal-field>
              </div>
            </ng-container>
          </ng-container>
          <!-- Force a new line to keep date range in same row -->
          <div class="w-100"></div>
          <div class="col-12 col-md-6">
            <date-field labelPosition="side" formControlName="beginDate"
              [label]="i18n.ad.beginDate" minDate="past100" maxDate="todayEnd"
              fieldSize="full">
            </date-field>
          </div>
          <div class="col-12 col-md-6">
            <date-field labelPosition="side" formControlName="endDate"
              [label]="i18n.ad.endDate" minDate="past100" maxDate="todayEnd"
              fieldSize="full">
            </date-field>
          </div>
        </ng-container>
      </div>
    </form>
    <div *ngIf="layout.gtxxs$ | async" class="row no-gutters filters-row">
      <div class="col-12 col-xs-7 col-md-9">
        <result-type-field [allowedResultTypes]="allowedResultTypes$ | async"
          [formControl]="resultTypeControl">
        </result-type-field>
      </div>
      <div *ngIf="['tiles', 'list'].includes(resultType)"
        class="col-12 col-xs-5 col-md-3">
        <single-selection-field [formControl]="form.get('orderBy')"
          [display]="i18n.general.orderBy"
          [emptyOption]="i18n.general.orderByRelevance">
          <field-option value="date" [text]="i18n.ad.orderBy.date">
          </field-option>
          <field-option value="priceAsc" [text]="i18n.ad.orderBy.priceAsc">
          </field-option>
          <field-option value="priceDesc" [text]="i18n.ad.orderBy.priceDesc">
          </field-option>
        </single-selection-field>
      </div>
    </div>
  </page-content>

  <page-content [ngClass]="(categoryTrail$ | async)?.length ? '' : 'd-none'">
    <nav *ngIf="(categoryTrail$ | async)?.length > 0" class="breadcrumb">
      <ol class="breadcrumb">
        <li *ngFor="let cat of categoryTrail$ | async; let last = last"
          class="breadcrumb-item" [ngClass]="{active: last}">
          <ng-container *ngIf="last">{{ cat.name }}</ng-container>
          <!-- Don't leave trailing spaces or they generate an extra space -->
          <a *ngIf="!last" href="#"
            (click)="$event.preventDefault(); onCategorySelected(cat)">{{
              cat.name }}</a>
        </li>
      </ol>
    </nav>
  </page-content>

  <ads-results [results]="results$ | async" [rendering$]="rendering$"
    [data]="data$ | async" [resultType]="resultType$ | async"
    [referencePoint]="((form.valueChanges | async) || form.value).distanceFilter"
    (update)="update($event)" (categorySelected)="onCategorySelected($event)">
  </ads-results>
</ng-template>
