<page-layout [ready]="data$ | async">
  <ng-container *ngIf="data then content"></ng-container>
</page-layout>

<ng-template #content>
  <ng-container *ngIf="isSearch; else regular">
    <!-- When a result page, render a filters section -->
    <page-content [mode]="hasSearchFields ? 'filters' : 'emptyFilters'"
      [heading]="data.name" [mobileHeading]="data.label"
      [headingActions]="headingActions$ | async">
      <ng-container *ngTemplateOutlet="theForm"></ng-container>
      <actions *ngIf="!runDirectly" class="mb-3 mt-0">
        <button class="btn btn-primary" [disabled]="(requesting$ | async)"
          (click)="run()">
          {{ data.customSubmitLabel || i18n.general.submit }}
        </button>
      </actions>
    </page-content>

    <!-- And, if already executed, show results table -->
    <results-layout *ngIf="pageResults$ | async" resultType="list"
      [results]="pageResults" (update)="updatePage($event)"
      [onClick]="onClick">

      <mobile-result *mobileResult="let row">
        <label-value *ngFor="let col of (result$ | async)?.columns"
          labelPosition="sideForced" valueFormat="html" [label]="col.header"
          [value]="row[col.property]">
        </label-value>
      </mobile-result>

      <table *resultTable class="table table-hover"
        [ngClass]="{'cursor-pointer': data.rowAction}">
        <thead>
          <th *ngFor="let col of (result$ | async)?.columns" [ngStyle]="{
                  textAlign: col.align,
                  width: col.width
                }">
            {{ col.header }}
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let row of (result$ | async)?.rows"
            (click)="rowClick(row)">
            <td *ngFor="let col of (result$ | async)?.columns" [ngStyle]="{
                    textAlign: col.align
                  }" [innerHTML]="row[col.property] | trust">
            </td>
          </tr>
        </tbody>
      </table>
    </results-layout>
  </ng-container>
</ng-template>

<ng-template #regular>
  <page-content *ngIf="data && !runDirectly && (result$ | async) === null"
    [heading]="data.name" [mobileHeading]="data.label" last>
    <alert type="info" *ngIf="data.informationText">
      <div [innerHTML]="data.informationText | trust"></div>
    </alert>
    <ng-container *ngTemplateOutlet="theForm"></ng-container>
    <actions *ngIf="(redirecting$ | async) === false">
      <button class="btn btn-primary" [disabled]="(requesting$ | async)"
        (click)="run()">
        {{ data.customSubmitLabel || i18n.general.submit }}
      </button>
    </actions>
    <div class="mt-3 text-right" *ngIf="redirecting$ | async">
      {{ i18n.operation.redirecting }}
    </div>
  </page-content>

  <page-content *ngIf="isContent && (result$ | async)"
    [heading]="result.title || data.name"
    [mobileHeading]="i18n.operation.mobileTitle.result"
    [headingActions]="headingActions$ | async" last>

    <!-- Show the context of the operation if running directly. Otherwise, this data was already presented. -->
    <ng-container *ngIf="runDirectly">
      <ng-container *ngTemplateOutlet="operationContext"></ng-container>
    </ng-container>

    <div *ngIf="result.resultType === 'richText'"
      [innerHTML]="result.content | trust"></div>
    <div *ngIf="result.resultType === 'plainText'" class="break-nl">
      {{ result.content }}</div>
    <actions *ngIf="!runDirectly">
      <button class="btn btn-primary" [disabled]="(requesting$ | async)"
        (click)="reload()">
        {{ i18n.general.close }}
      </button>
    </actions>
  </page-content>
</ng-template>

<ng-template #theForm>
  <form [formGroup]="form">
    <!-- Show the context of the operation -->
    <ng-container *ngTemplateOutlet="operationContext"></ng-container>

    <!-- For fields -->
    <ng-container *ngFor="let cf of formFields; let first = first">
      <custom-field-input [field]="cf" [formControlName]="cf.internalName"
        [focused]="!isSearch && first"
        [labelPosition]="isSearch ? 'left' : 'auto'">
      </custom-field-input>
    </ng-container>

    <!-- File upload -->
    <file-field *ngIf="data.hasFileUpload" [label]="i18n.operation.fileUpload"
      [formControl]="fileControl">
    </file-field>
  </form>
</ng-template>

<ng-template #operationContext>
  <label-value *ngIf="data.user && data.user.id !== login.user.id"
    [label]="i18n.general.user" kind="field">
    <chip [image]="data.user.image" [closeable]="false">
      {{ data.user.display }}
    </chip>
  </label-value>
  <label-value *ngIf="data.ad" [label]="i18n.operation.ad" kind="field">
    <chip [image]="data.ad.image" [closeable]="true">
      {{ data.ad.name }}
    </chip>
  </label-value>
  <label-value *ngIf="data.transfer" [label]="i18n.operation.transfer"
    kind="fieldView">
    <chip>
      {{ data.transfer.display }}
    </chip>
  </label-value>
  <hr
    *ngIf="data.user && data.user.id !== login.user.id || data.ad || data.transfer">
</ng-template>
